name: my first pipline
on: 
    push:
        branches: ["main"]
jobs: 
    say-hello:
        runs-on: ubuntu-latest        
        steps:
            - uses: actions/checkout@v3
            - name: print massage
              run: echo "benvenuti nella CI"

      