name: Complete Pipeline 
on:
  push:
    branches: ["staging"]

jobs:

  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: Install Dependencies
        run: npm install 

      - name: Run Linting
        run: npm run lint 

      - name: Run Tests
        run: npm run test 

  deploy:
    needs: [build-and-test]
    runs-on: ubuntu-latest
    
    if: github.ref == 'refs/heads/staging'
    
    steps:
      - name: Simulate Deployment
        run: echo " Deploying to Production"
      
      - name: Deployment Success 
        run: echo "Deploy Completed successfully on branch staging!"