name: Complete Pipeline 
on: push
jobs:

  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: Install Dependencies
        run: npm install 

      - name: Run Linting
        run: npm run lint 

      - name: Run Tests
        run: npm run test 

  deploy-staging:
    needs: [build-and-test]
    
    if: github.ref == 'refs/heads/staging'
    
    environment:
      name: Staging

    runs-on: ubuntu-latest

    steps:
      - name: Deployment staging
        env:
          SEGRETO: ${{ vars.MY_SECRET}}
       
        run: echo "Deploying to TEST segreto è $SEGRETO"
      
  deploy-production:
    needs: [build-and-test]

    if: github.ref == 'refs/heads/main'

    environment:
      name: Production

    runs-on: ubuntu-latest

    steps:
      - name: Deploying to production
        env:
         SEGRETO: ${{ vars.MY_SECRET}}

        run: echo "Deploying to production yay segreto è $SEGRETO"





