name: Node CI
on:
    push:
        branches: ["node"]

jobs:
    test-build:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version: 18

            - run: npm install
            - run: npm test
            - run: npm run build

            - uses: actions/upload-artifact@v3
              with:
                name: app-dist
                path: dist/